@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  scroll-behavior: smooth !important;
}
.typewriter h2 {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 10s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  20%,
  80% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
button:hover,
button:focus {
  box-shadow: inset 7.5em 0 0 0 white;
  color: blue;
}
.nav a {
  width: fit-content;
}
.nav a::after {
  content: " ";
  display: block;
}
.nav a:hover,
.nav a:focus,
.nav a.active {
  font-weight: 700;
  color: #0b0ed4;
}
.nav a:hover:after,
.nav a:focus:after {
  border-bottom: 3px solid #0b0ed4;
  animation: l_to_r 1s;
  transition: ease-in-out;
}
@keyframes l_to_r {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
