@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-vertical {
  top: 20vh !important;
}
.swiper-pagination {
  pointer-events: all !important;
}
/* .swiper-pagination-bullet-active {
  background: white !important;
  height: 20px !important;
  border-radius: 20% !important;
} */
.arrow::before {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
